#Django and core dependencies
Django
django-test-framework
django-cors-headers

#Database
psycopg2-binary

#Image handling
Pillow

#Authentication and security
djangorestframework-simplejwt

#Production dependencies
gunicorn
whitenoise

#Environment management
django-environ

#Testing
pytest-django

django-cors-headers
django-users2
djangorestframework
rest-framework-simplejwt
djangorestframework-simplejwt
psycopg2
